dotenv==0.9.9
chromadb==1.0.12
pandas==2.3.0
transformers==4.52.4
accelerate==1.7.0
bitsandbytes==0.46.0
gguf==0.17.0
tiktoken==0.9.0
huggingface_hub==0.32.4
huggingface_hub[hf_xet]==0.32.4
pylint==3.3.7
sentence_transformers==4.1.0
pypdf==5.6.0
pytesseract==0.3.13
pdf2image==1.17.0
matplotlib==3.10.3
anytree==2.13.0
pycryptodome==3.23.0
pdfplumber==0.11.6
opencv-python==4.11.0.86
datasets==3.6.0
evaluate==0.4.4
rouge_score==0.1.2
